body {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;

  .ui.segment {
    background-color: var(--background-color) !important;
  }
}

a,
a:-webkit-any-link {
  color: var(--text-color);

  &:hover {
    text-decoration: solid;
    @include add(weight, semi-bold);
  }
}
